*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  padding: 1.5rem;
  box-sizing: border-box;
}
::selection {
  background-color: #42f5ef;
}
.container {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: auto;
  background-color: #248784;
  border: 1px solid darkblue;
}
