*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-size: 62.5%;
}
body {
  padding: 1.5rem;
  box-sizing: border-box;
}
h1 {
  margin: 2rem 0;
}
img {
  margin: 1.3rem;
  border-radius: 6px;
  border: 1px solid darkblue;
}
::selection {
  background-color: #42f5ef;
}
.container {
  display: flex;
  justify-content: center;
  width: 20%;
  margin: auto;
  background-color: #248784;
  border: 1px solid darkblue;
  border-radius: 6px;
  font-size: 1.3rem;
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.4);
}
